.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.body {
  background: url(../public/ApricityLogo.jpg);
  background-size: cover;
}


ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  display: block;
  height: 300px;
  /*background: url(../public/apricityPhotos/ApricityLogo.png);
  background-size: 300px 100%;*/
}

.nav-bar {
  font-family: 'Cinzel Decorative', cursive;
  background: rgb(35, 35, 35, 0.5);
}

.nav-li {
  display: inline-block;
  padding: 5px;
  color: white;
}

.hover-hands:hover {
  cursor: pointer;
}

.content-tab {
  max-width: 800px;
  min-height: 400px;
  margin: auto;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 5px;
  padding: 50px;
}

/*.nav-li:after {
  content: '	•';
}
.nav-li:before {
  content: '• ';
}*/
.photo {
  display: block;
  height: 100%;
  width: 500px;
}

.logo {
  display: 'block';
  width: 150px;
  height: 100px;
  margin: auto;
}

.YouTubeLogo {
  background: url(../public/logoPhotos/YouTubeLogo.png);
  background-size: 150px 100px;
}

.image-container {
  padding: 20px;
  background: white;
  height: 350px;
  width: 350px;
}
