.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

@keyframes hide-header {
  from { height: 300px; }
  to { height: 0px; }
}

.body {
  background: url(../public/ApricityLogo.jpg);
  background-size: cover;
  background-position-x: 50%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  margin: 0 0 10px 0;
}

.header {
  display: block;
  height: 300px;
  animation-name: hide-header;
}

.nav-bar {
  font-family: 'Cinzel Decorative', cursive;
  background: rgba(35, 35, 35, 0.5);
}

.nav-li {
  display: inline-block;
  padding: 5px;
  color: white;
}

.hover-hands:hover {
  cursor: pointer;
}

.content-tab {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.content-tab-inner {
  max-width: 800px;
  min-height: 400px;
  margin: auto;
  padding: 1em;
}

.center-children {
  display: flex;
  align-items: center;
  width: 100%;
}

a {
  color: white;
}

a:visited {
  color: lightgray;
}

.photo {
  display: block;
  height: 100%;
  width: 500px;
}

.photo-frame {
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.photo-frame > div {
  margin: 0;
}

.fadeout:after {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 4em;
  z-index: 100;
  background: -webkit-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
  );
  background-image: -moz-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
  );
  background-image: -o-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
  );
  background-image: linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
  );
  background-image: -ms-linear-gradient(
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 1) 100%
  );
}

.fadeout:after:hover {
  display: none;
}

.scrapbook {
  height: 800px;
}

.photo-nav {
  position: absolute;
  display: flex;
  top: 50%;
  transform: translateY(-60%);
  width: 150px;
  height: 250px;
  font-size: 68px;
  justify-content: center;
  margin: auto auto;
  text-shadow: 0 0 10px white;
}

.photo-nav-arrow {
  display: none;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.previous-photo {
  left: 0;
}

.previous-photo:hover .photo-nav-arrow {
  display: flex;
}

.next-photo {
  right: 0;
}

.next-photo:hover .photo-nav-arrow {
  display: flex;
}

iframe {
  margin: 0;
}

.logo {
  display: 'block';
  width: 150px;
  height: 100px;
  margin: auto;
}

.YouTubeLogo {
  background: url(../public/logoPhotos/YouTubeLogo.png);
  background-size: 150px 100px;
}

.image-container {
  padding: 20px;
  background: white;
  height: 350px;
  width: 350px;
}

.embedded-content {
  max-width: 100%;
  width: 400px;
  margin: auto;
}

.turn-page {
  display: flex;
  justify-content: space-around;
}
.turn-page span {
  padding: .5em 1em;
}

.connect-links a {
  padding: .5em;
  display: block;
}